<h1 class='name'>{{name}}</h1>
<p class='capital'>{{capital}}</p>
<p class='population'>{{population}}</p>
<ul class='languages'>
  {{#each languages}}
    <li> {{name}}</li>
  {{/each}}
</ul>
<img src='{{flag}}' alt='flag' />